@page
@model MusicSage.Pages_Musics.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="Keys" asp-items="Model.Keys">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString"/>
        <input type="Submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Bpm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Music) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bpm)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
